{% extends 'base.html' %}
{% load static %}
{% block title %}Audition{% endblock title %}
{% block content %}



  <style>
    @import url('https://fonts.googleapis.com/css?family=Roboto');

/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Roboto', sans-serif;
}

body {
    background: url("https://media.istockphoto.com/photos/neon-glowing-arrows-symbols-stock-image-picture-id1288697510?b=1&k=20&m=1288697510&s=170667a&w=0&h=eu3-w7wgLn08fysfViCTJOL9CEotfkeYfBT-JIjr8po=")!important;
    background-size: cover!important;
    background-position: center;
    height: 100vh;
    overflow-y: hidden;
} */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Alumni Sans", sans-serif;
}

section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 80vh;
	font-size: 1.2em;
	background: #212121;
	color: #fff;
	text-transform: uppercase;
	gap: 30px;
  margin-bottom: -10px;

}

h1 {
	font-size: 2em;
	text-decoration: underline;
	@media (max-width: 768px) {
		font-size: 1.3em;
	}
}



.text-shadow {
	font-style: italic;
	text-transform: uppercase;
	color: transparent;
	-webkit-text-stroke: #fff;
	-webkit-text-stroke-width: 1px;
	text-shadow: 2px 2px 10px rgb(100, 100, 135);
	transition: all 0.5s ease-in-out;
	text-align: center;
	letter-spacing: 0.1em;
	animation: flicker 0.5s ease-in-out infinite alternate;
}


.text-shadows {
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	color: transparent;
	-webkit-text-stroke: #fff;
	-webkit-text-stroke-width: 1px;
	text-shadow: 2px 2px 10px rgb(100, 100, 135);
	transition: all 0.5s ease-in-out;
	text-align: center;
	letter-spacing: 0.1em;
	/* animation: flicker 0.5s ease-in-out infinite alternate; */
  /* padding: 5px; */
  margin-bottom: 15px;
}

/* .text-shadow:hover {
		color: #fff;
	} */

.tags small {
	@media (max-width: 768px) {
		font-size: 0.5em;
	}
}

  @media screen and (max-width: 560px){
    p{
      font-size: 12px;
      padding: 1rem;
    }
  }

/* @keyframes flicker {
	0% {
		opacity: 0.7;
		text-shadow: 2px 2px 10px blue;
	}
	100% {
		opacity: 1;
		text-shadow: 2px 2px 20px blue;
	}
} */
    .b1{
  width: 100%;
  height: 100%;
  margin: auto;
  display: table;
  background-size: cover;
}
.b1 .in1{
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  max-width: none;
}
.content{
  margin: auto;
  text-align: center;
  margin-top: -200px;

}
.content h1{
  font-family: 'Century Gothic',sans-serif;
  color:var(--color-text);
  font-size: 400%;
  text-shadow: 0 0 300px #000;
  margin-bottom:10px;
}
.rulebox p{
     font-family: 'Century Gothic',sans-serif;
  color: #f9f3f4;
    font-weight: 700;
    margin: 5% 5%;
    text-align: center;
    justify-content: center;
  text-shadow: 0 0 300px #000;
  margin-bottom: 30px;
}
.rulebox{
  background-color: rgba(0,0,0, 0.6);
  width: 65vw;
  margin-left: 20vw;
    margin-bottom: 20px;
  padding: 10px 0px 10px;
  border-radius: 2%;
}
.content {
  border-radius: 9px;
  color: #f9f3f4;
  text-decoration: none;
  font-family: 'Century Gothic',sans-serif;
  border: 3px solid;
  padding: 7px 100px;
  font-weight:100;
  margin-top: 10px;

}
.content .btn:hover{
  color: blue;
}
@media only screen and (max-width: 768px)
{
  .content h1{
    font-size: 200%;
    margin-bottom: 20px;
  }
  .content p{
    margin-bottom: 30px;
    font-weight: 400;
  }
  .rulebox{
  background-color: rgba(0,0,0, 0.6);
  width: 80vw;
  margin-left: 10vw;
  padding: 2px 0px 2px;
  border-radius: 2%;
  
}
  .rulebox p{
      font-size:9px;
      margin-bottom: 30px;
  }

}

/*Button Style*/
:root {
  --notch:polygon(0 0,100% 0,100% calc(100% - 10px),calc(100% - 10px) 100%,0 100%);
  --notch--outline:polygon(0 0,100% 0,100% calc(100% - 10px),calc(100% - 10px) 100%,0 100%,0 4px,4px 4px,4px calc(100% - 4px),calc(100% - 12px) calc(100% - 4px),calc(100% - 4px) calc(100% - 12px),calc(100% - 4px) 4px,0 4px);
}

.btn {
  background: transparent;
  border: none;
  border-radius: 0;
  box-shadow: none;
  color: white;
  cursor: pointer;
  filter: drop-shadow(0 0 8px rgba(255, 255, 255, 0.33));
  font-family: Gotham Bold, system, sans-serif;
  font-size: 20px;
  height: 40px;
  letter-spacing: 2px;
  line-height: 15px;
  outline: none;
  overflow: visible;
  padding: 20px 45px 35px 45px;
  position: relative;
  text-transform: uppercase;
  transition: 0.5s ease;
  z-index: 1;
  bottom: 15px;
}
.btn::before {
  background: white;
  bottom: 0;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%, 0 4px, 4px 4px, 4px calc(100% - 4px), calc(100% - 12px) calc(100% - 4px), calc(100% - 4px) calc(100% - 12px), calc(100% - 4px) 4px, 0 4px);
          clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%, 0 4px, 4px 4px, 4px calc(100% - 4px), calc(100% - 12px) calc(100% - 4px), calc(100% - 4px) calc(100% - 12px), calc(100% - 4px) 4px, 0 4px);
  -webkit-clip-path: var(--notch--outline);
          clip-path: var(--notch--outline);
  content: "";
  display: block;
  left: 0;
  opacity: 1;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.5s ease;
}
.btn::after {
  background: #fff;
  bottom: 0;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%);
  -webkit-clip-path: var(--notch);
          clip-path: var(--notch);
  content: "";
  display: block;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.5s ease;
  z-index: -1;
}
.btn:hover {
  filter: drop-shadow(0 0 16px rgba(255, 255, 255, 0.5));
  transition: 0.52s ease 0.48s;
  color: black;
}
.btn:hover::before {
  -webkit-animation: turn-on--outline-before 1s;
          animation: turn-on--outline-before 1s;
}
.btn:hover::after {
  -webkit-animation: turn-on--outline-after 1s;
          animation: turn-on--outline-after 1s;
  opacity: 1;
}

@-webkit-keyframes turn-on--outline-before {
  0% {
    opacity: 1;
  }
  8% {
    opacity: 0.5;
  }
  16% {
    opacity: 1;
  }
  24% {
    opacity: 0.5;
  }
  32% {
    opacity: 1;
  }
  40% {
    opacity: 0.5;
  }
  48% {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}

@keyframes turn-on--outline-before {
  0% {
    opacity: 1;
  }
  8% {
    opacity: 0.5;
  }
  16% {
    opacity: 1;
  }
  24% {
    opacity: 0.5;
  }
  32% {
    opacity: 1;
  }
  40% {
    opacity: 0.5;
  }
  48% {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes turn-on--outline-after {
  0% {
    opacity: 0;
  }
  48% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes turn-on--outline-after {
  0% {
    opacity: 0;
  }
  48% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}





/* footer */
.gpt3__footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: #000002;
}

.gpt3__footer-heading {
    width: 100%;
    text-align: center;

    margin-bottom: 3rem;
}

.gpt3__footer-heading h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 64px;
    line-height: 75px;
}

.gpt3__footer-btn {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 1rem;
    border: 1px solid #fff;
    text-align: center;

    margin-bottom: 10rem;
    cursor: pointer;
}

.gpt3__footer-btn p {
    font-size: 18px;
    font-family: var(--font-family);
    line-height: 21px;
    color: #fff;
    word-spacing: 2px;
}

.gpt3__footer-links {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;

    width: 100%;
    text-align: left;
}

.gpt3__footer-links div {
    width: 250px;
    margin: 1rem;
}

.gpt3__footer-links_logo {
    display: flex;
    flex-direction: column;
}

.gpt3__footer-links_logo img {
    width: 118px;
    height: 30px;

    margin-bottom: 1rem;
}

.gpt3__footer-links_logo p {
    font-family: var(--font-family);
    font-size: 12px;
    line-height: 15px;
    color: #fff;
}

.gpt3__footer-links_div {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.gpt3__footer-links_div h4 {
    font-size: 14px;
    line-height: 17px;
    font-family: var(--font-family);
    color: #fff;

    margin-bottom: 0.9rem;
}

.gpt3__footer-links_div p {
    font-size: 12px;
    line-height: 15px;
    font-family: var(--font-family);
    color: #fff;

    margin: 0.5rem 0;
    cursor: pointer;
}

.gpt3__footer-copyright {
    margin-top: 2rem;
    text-align: center;
    width: 100%;
}

.gpt3__footer-copyright p {
    font-size: 12px;
    font-family: var(--font-family);
    line-height: 15px;
    color: #fff;
}

@media screen and (max-width: 850px) {
    .gpt3__footer-heading h1 {
        font-size: 44px;
        line-height: 50px;
    }
}

@media screen and (max-width: 550px) {
    .gpt3__footer-heading h1 {
        font-size: 34px;
        line-height: 42px;
    }

    .gpt3__footer-links div {
        margin: 1rem 0;
    }

    .gpt3__footer-btn p {
        font-size: 14px;
        line-height: 20px;
    }
}

@media screen and (max-width: 400px) {
    .gpt3__footer-heading h1 {
        font-size: 27px;
        line-height: 38px;
    }
  }
    </style>
 <!-- <section class="b1">
  <div class="in1">
    <div class="content">
      <h1>SAE AUDITIONS</h1>
      <div class="rulebox">
      <p >
        After you login you will have exactly three hours to answer all the questions after which all the responses will
        be auto submitted.<br>
        The questions which are mentioned compulsory should not be left unanswered.<br>
        Once submitted, you cannot change the answers.<br>
        Answer the following sections according to your preferences(You may answer multiple sections):<br>
        Questions 18 to 25 [CREATIVE DESIGN AND PHOTOGRAPHY]<br>
        Questions 26 to 32 [AUTOMOBILE]<br>
        Questions 33 to 46 [ROBOTICS]<br>
        Questions 47 to 48 [WEB DEVELOPMENT]<br>
      </p>
    </div>
<a class="btn" href="/response/questions/">START</a>
    </div>
</div>
</section> -->
<section>
	<h1 class="text-shadow"> SAE AUDITIONS 2K23  </h1>
	<div class="tags">
		<p class="text-shadows">  You will have exactly three hours to answer all the questions after which all the responses will
      be auto submitted.<br>
    <p class="text-shadows">The questions which are mentioned compulsory should not be left unanswered.<br></p>
    <p class="text-shadows">Once submitted, you cannot change the answers.<br></p>
    <p class="text-shadows">Answer the following sections according to your preferences(You may answer multiple sections):<br></p>
    <p class="text-shadows">Questions 18 to 25 [CREATIVE DESIGN AND PHOTOGRAPHY]<br></p>
    <p class="text-shadows">Questions 26 to 32 [AUTOMOBILE]<br></p>
    <p class="text-shadows">Questions 33 to 47 [ROBOTICS]<br></p>
    <p class="text-shadows">Questions 48 and 49 [WEB DEVELOPMENT]<br></p>
    
	</div>
  <a class="btn" href="/response/questions/">Start</a>
</section>
<div class="cursor"></div>
    <div class="cursor2"></div>

<!-- footer -->
<div class="gpt3__footer section__padding" id="contact">
  <div class="gpt3__footer-links">
    <div class="gpt3__footer-links_logo">
      <img src="../../../static/media/images/sae_logo.png" alt="gpt3_logo" />
      <p>Society of Automotive Engineers NIT Durgapur Chapter Collegative, <br /> All Rights Reserved</p>
    </div>
    <div class="gpt3__footer-links_div">
      <h4>Links</h4>
      <p>Home</p>
      <p>About Us</p>
      <p>Contact</p>
    </div>
    <div class="gpt3__footer-links_div">
      <h4>Get in touch</h4>
      <p>emaild id</p>
      <p>085-132567</p>
      <p>website link</p>
    </div>
  </div>

  <div class="gpt3__footer-copyright">
    <p>@2022 SAEINDIA-NITD. All rights reserved.</p>
  </div>
</div>



{% endblock %}